location = "East US"
resource_group_name = "example-rg"
vnet_hub_name = "example-hub-vnet"
vnet_hub_address_space = "10.0.0.0/16"
vnet_spoke_name = "example-spoke-vnet"
vnet_spoke_address_space = "10.1.0.0/16"
subnet_hub_name = "example-hub-subnet"
subnet_hub_prefix = "10.0.1.0/24"
subnet_spoke_name = "example-spoke-subnet"
subnet_spoke_prefix = "10.1.1.0/24"
nsg_name = "example-nsg"
vm1_name = "example-vm1"
vm1_size = "Standard_DS1_v2"
vm1_admin_username = "azureuser"
vm1_admin_password = "P@ssw0rd1234!"
vm2_name = "example-vm2"
vm2_size = "Standard_DS1_v2"
vm2_admin_username = "azureuser"
vm2_admin_password = "P@ssw0rd1234!"
agent_name = "example-agent"
agent_pool = "Default"